<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <script src="./scripts/catsongs.js" type="text/javascript" ></script>
  <div class="container">
    <div id="cat_01">
  </div>
    <div id="cat_02">
  </div>
    <div id="cat_03">
  </div>
   <div id="cat_04">
  </div>
   <div id="cat_05">
  </div>
   <div id="cat_06">
  </div>
   <div id="cat_07">
  </div>
  <div id="cat_08">
  </div>
  <div id="long_meow">
  </div>
</div>
  <audio id="step_01" src="./media/01.mp3"></audio>
  <audio id="step_02" src="./media/02.mp3"></audio>
  <audio id="step_03" src="./media/03.mp3"></audio>
  <audio id="step_04" src="./media/04.mp3"></audio>
  <audio id="step_05" src="./media/05.mp3"></audio>
  <audio id="step_06" src="./media/06.mp3"></audio>
  <audio id="step_07" src="./media/07.mp3"></audio>
  <audio id="step_08" src="./media/08.mp3"></audio>
  <audio id="thelongmeow" src="./media/thelongmeow.mp3"></audio>
</body>
</html>

